@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.table-container{
    width: 80%;
    overflow-x: auto;
    margin: 20vh auto;
}
.tabela-imoveis{
    font-family: Arial, sans-serif;
    font-size: 0.95em;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.tabela-header th, .tabela-body td{
    border: 1px solid rgb(158, 158, 158);
    min-width: 140px;
    padding: 0 10px;
}

.tabela-header th{
    background-color: #00355e;
    color: #fff;
}

.tabela-imoveis tr{
    height: 8vh;
    min-height: 1000px;
}

.tabela-body tr:nth-child(even){
    background-color: rgb(240, 240, 240);
}

.tabela-body a{
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.all-arrows-container{
    display: inline-block;
}

.arrow-container{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 2px #000 solid;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    transition: all .2s;
}

.arrow-container:hover{
    cursor: pointer;
    background-color: #ddd;
    border: 2px rgb(0, 0, 0) solid;
}

.arrow{
    display: inline-block;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 5px;
    width: 5px;
}

.arrow-down {
    transform: translateY(-2.5px) rotate(45deg) ;
}

.arrow-up{
    transform: rotate(-135deg);
}

@media (max-width:415px) and (orientation: portrait){
    .table-container{
        width: 95%;
    }

    .tabela-imoveis tr{
        height: 6vh;
    }

    .tabela-header th, .tabela-body td{
        border: 1px solid rgb(158, 158, 158);
        width: 20vw;
        min-width: 100px;
        padding: 0 10px;
    }

}