
<header>
    <div class="header-div-1"></div>
    <div class="header-div-2">
        <div>
            <p>A compra de um imóvel é uma das decisões mais importantes da vida e deve ser tratada com respeito, honestidade e cuidado. Por isso, dedicamos o nosso conhecimento para proporcionar sua satisfação, trazendo conforto e qualidade de vida.</p>
            <p>Cheque a lista abaixo e conheça nossos projetos! Você pode sempre nos contatar em caso de dúvidas: </p>
            <p>contato@amfernandes.com.br</p>
        </div>
    </div>
</header>

<app-listar-dados></app-listar-dados>

<footer>
    <div class="footer-flexdiv1">
        <p><fa-icon [icon]="faEnvelope"></fa-icon> contato@amfernandes.com.br</p>
        <p><fa-icon [icon]="faMobileAlt"></fa-icon> (11) 98380-5819</p>
        <p><fa-icon [icon]="faMobileAlt"></fa-icon> (11) 3593-8440</p>
    </div>
    <div class="footer-flexdiv2">
        <p>Alameda Terracota, 215 Ed. Network, Torre Union Conj. 1325 – Cerâmica</p>
        <p>CEP 09531-190</p>
        <p>São Caetano do Sul (SP)</p>
    </div>
    <div class="footer-flexdiv3">
        <p>
            <a href="https://www.facebook.com/amfernandesincorporadora/" target="_blank"><fa-icon [icon]="faFacebook" [classes]="['fa-2x']"></fa-icon></a>
            <a href="https://www.linkedin.com/company/am-fernandes/" target="_blank"><fa-icon [icon]="faLinkedin" [classes]="['fa-2x']"></fa-icon></a>
            <a href="https://www.instagram.com/amfernandes_/" target="_blank"><fa-icon [icon]="faInstagram" [classes]="['fa-2x']"></fa-icon></a>
            <a href="https://www.youtube.com/channel/UCO8PLDDC9VOG_3xQ5RsiCYg" target="_blank"><fa-icon [icon]="faYoutube" [classes]="['fa-2x']"></fa-icon></a>
            <a href="https://www.tiktok.com/@amfernandes_" target="_blank"><fa-icon [icon]="faTiktok" [classes]="['fa-2x']"></fa-icon></a>
        </p>
    </div>
</footer>

<router-outlet></router-outlet>
