@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header{
    margin-bottom: 10vh;
    font-family: 'roboto', sans-serif;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: #eee;
    font-weight: bold;
}

.header-div-1{
    height: 100vh;
    width: 100%;
    background-color: #00355e;
    background-image: url(../assets/logo-vertical.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.header-div-2{
    height: 400px;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) 50%), url(../assets/hd-bg.jpg);
    background-size: auto, auto 100%;
    background-repeat: no-repeat, no-repeat;
    position: relative;
}

.header-div-2 div{
    position: absolute;
    width: 30%;
    min-width: 400px;
    right: 10%;
    height: inherit;
}

.header-div-2 div p{
    text-align: left;
    margin: 50px auto;
    padding-left: 5%;
}

footer {
    font-family: 'roboto', sans-serif;
    letter-spacing: 1px;
    background-color: #00355e;
    color: white;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-flexdiv1 {
    text-align: center;
    flex-basis: auto;
    min-width: 300px;
    width: 30%;
}

.footer-flexdiv1 p, .footer-flexdiv2 p{
    margin: 2vw 0;
}
.footer-flexdiv1 p:first-child, .footer-flexdiv2 p:first-child{
    font-weight: bolder;
}

.footer-flexdiv2 {
    box-sizing: border-box;
    width: 40%;
    min-width: 300px;
    padding: 0 3%;
    text-align: center;
    border-right: white 1px solid;
    border-left: white 1px solid;
    flex-basis: auto;
    overflow-x: auto;
}

.footer-flexdiv3{
    text-align: center;
    width: 30%;
    min-width: 250px;
}

.footer-flexdiv3 a{
    display: inline-block;
    color: white;
    margin: 20px;
    flex-basis: auto;
}

.footer-flexdiv3 a:hover{
    color: #bbb;
}

@media (max-width:415px) and (orientation: portrait){

    .header-div-2{
        height: auto;
        background-color: #000000;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95) 50%), url(../assets/hd-bg.jpg);
        background-size: auto, auto 100%;
        background-repeat: no-repeat, no-repeat;
    }

    .header-div-2 div{
        position:static;
        width: auto;
        height: inherit;
        padding: 10% 5%;
        min-width: 0;
    }
    
     .header-div-2 div p{
        font-size: 0.9em;
        margin: 0;
        padding: 5%;
    } 

    footer {
        flex-direction: column;
        height: auto;
    }
    .footer-flexdiv1, .footer-flexdiv2, .footer-flexdiv3{
        padding: 5vh 0;
        border: none;
        text-align: center;
        flex-basis: auto;
        width: 80%;
        height:auto;
    }
    .footer-flexdiv2 {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .footer-flexdiv1 p, .footer-flexdiv2 p, .footer-flexdiv3 p{
        margin: 2vh;
    }
    .footer-flexdiv3 a{
        margin: 10px;
    }
}

@media (max-width:927px) and (orientation:landscape){
    footer {
        flex-direction: column;
        height: auto;
    }

    .footer-flexdiv1, .footer-flexdiv2, .footer-flexdiv3{
        padding: 5vh 0;
        border: none;
        text-align: center;
        flex-basis: auto;
        width: 80%;
        height:auto;
    }
    .footer-flexdiv2 {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .footer-flexdiv1 p, .footer-flexdiv2 p, .footer-flexdiv3 p{
        margin: 2vh;
    }
}
